body {
  margin: 0;
  width: 100%;
  height: 100%;
}
button:focus,
input:focus,
textarea:focus {
  outline: none;
}
.top {
  height: 40px;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  padding: 10px;
  z-index: 1;
  box-sizing: border-box;
}
.switch {
  height: 40px;
  width: 120px;
  border-radius: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.switch > button {
  border: none;
  border-radius: 8px;
  padding: 5px;
  height: 34px;
  flex-grow: 1;
  margin: 3px;
  line-height: 24px;
  font-size: 18px;
  text-align: center;
  color: var(--color);
  background-color: transparent;
  transition: all .3s ease-out;
  background-color: #FFF6;
}
.switch > button.selected {
  background-color: var(--color);
  color: white;
}
.switch > button:not(.selected):hover {
  box-shadow: 0 0 3px #0002;
  background-color: #FFFD;
  cursor: pointer;
}
#sell-graph-btn {
  --color: #29a0ff;
}
#buy-graph-btn {
  --color: #3cb741;
}

.search-group {
  flex-grow: 1;
}
.search-bar {
  border-radius: 10px;
  height: 40px;
  padding: 2px 10px;
  box-sizing: border-box;
  transition: background-color .3s ease-out;
}
#search-input {
  border: none;
  background-color: transparent;
  height: 36px;
  line-height: 36px;
  font-size: 22px;
  padding: 0;
  width: 100%;
}
#search-input:focus {
  outline: none;
}

.right-btns {
  display: flex;
  flex-direction: row;
}
.right-btns > button,
.btn {
  width: 50px;
  height: 40px;
  border: none;
  padding: 5px 10px;
  display: block;
  border-radius: 10px;
  margin-left: 5px;
  cursor: pointer;
  transition: background-color .3s ease-out, filter .3s ease-out;
  font-size: 16px;
}
.right-btns > button > img {
  width: 30px;
  height: 30px;
}
.search-bar:hover,
.right-btns > button:hover {
  background-color: #DDD;
}

.search-bar,
.right-btns > button,
.switch {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: #DDD6;
}

.panel {
  width: 200px;
  position: absolute;
  left: 50%;
  margin-left: -110px;
  border-radius: 10px;
  background-color: #F8F8F8;
  padding: 10px 20px;
  top: 30%;
}
dt {
  font-weight: bold;
}
dd > input {
  border: none;
  padding: 5px;
  line-height: 20px;
  font-size: 18px;
  width: 140px;
  border-radius: 10px;
  background-color: #DDD;
}
dd > input:focus,
textarea:focus {
  filter: brightness(1.05);
}
.btn:disabled {
  filter: brightness(0.9) !important;
  cursor: not-allowed;
}
.btn:hover {
  filter: brightness(1.1);
}
.btn-pr {
  background-color: #29a0ff;
  color: white;
}
.btn-ok {
  background-color: #3cb741;
  color: white;
}
textarea {
  border: none;
  border-radius: 10px;
  padding: 5px;
  background-color: #DDD;
  height: 100px;
}
.panel-title {
  height: 40px;
  line-height: 40px;
  font-size: 32px;
}
.close {
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  margin: 5px;
  margin-right: -5px;
  border-radius: 8px;
  transition: background-colot .3s ease-out;
  float: right;
  line-height: 30px;
  padding: 0;
  cursor: pointer;
  font-size: 32px;
}
.close:hover {
  background-color: #DDD3;
}