.radar {
  width: 100%;
  height: 100%;
  position: absolute;
}
#radar-circles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}
#radar-items {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.radar-circle {
  border: 1px rgb(127, 255, 176) solid;
  border-radius: 50%;
  width: calc(var(--level) * 300px + 40px);
  height: calc(var(--level) * 300px + 40px);
  margin-left: calc(var(--level) * -150px - 20px);
  margin-top: calc(var(--level) * -150px - 20px);
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: rgba(0, 255, 106, 0.067);
}
.radar-circle.move {
  transition: all .3s ease-out;
}
#radar-circles.floor > .radar-circle {
  animation: cir-floor .3s;
}
#radar-circles.ceil > .radar-circle {
  animation: cir-ceil .3s;
}
@keyframes cir-floor {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes cir-ceil {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.radar-pos {
  width: 70px;
  transform-origin: top center;
  transition: transform .3s ease-out;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -35px;
}
.radar-item {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  transition: transform .3s ease-out, top .3s ease-out, box-shadow .3s ease-out;
  cursor: pointer;
  position: absolute;
  margin-top: -35px;
}
.radar-item:hover {
  box-shadow: 0 0 0 1px #000;
}
.radar-item > img {
  width: 30px;
  height: 30px;
  margin: 0 20px;
  margin-top: 5px;
}
.radar-item > div {
  width: 60px;
  color: white;
  text-align: center;
  margin: 0 5px;
  font-size: 14px;
  line-height: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.radar-me {
  width: 38px;
  height: 38px;
  background-color: #fff;
  box-shadow: 0 0 2px #0003;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  border-radius: 50%;
  padding: 2px;
}
#radar-image {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.radar-pop {
  padding: 5px;
  background-color: #EEE;
  cursor: auto;
  color: black;
  text-align: left;
  height: 300px;
  overflow: auto;
  z-index: 10;
  transform: rotate(360deg);
}
.radar-detail {
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 5px;
  background-color: #DDD;
  width: 200px;
}
.radar-detail > div {
  line-height: 18px;
}